.rooms-list-container{

    display: flex;
    flex-direction: column;
}
h2{
    text-align: center;
    margin: 1rem;
}

.rooms-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    padding: 1rem;
    }


