 div{
            width: 250px;
            padding: 10px;
            margin: 5px 0;
            background-color: rgb(200, 197, 197);
            text-align: center;
            font-weight: bold;
        }

        li{
            list-style: none;
        }