li{
        list-style: none;
        padding: 10px;
        background-color: rgb(172, 168, 168);
        margin: 1px;
        width: 150px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }
    
li:nth-child(even){
        background-color: rgb(51, 48, 48);
        color: white;
}
